html, body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    height:100%;
    transition-duration: 0.8s;
}

a{
    color:unset;
    text-decoration: none;
}


.topnav .title {
    float: left;
    padding: 15px;
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
}

.topnav {
    
    position:sticky;
    top: 0;
    padding: 20px;
    margin:0%;
    
    display: flex;
    align-items: center;
    vertical-align: middle;

    color: #AF5079;
    /* background-image: radial-gradient(circle at top right, rgb(36, 9, 119) 0%, rgb(36, 9, 119) 48%,rgb(72, 7, 149) 48%, rgb(72, 7, 149) 53%,rgb(109, 5, 178) 53%, rgb(109, 5, 178) 56%,rgb(145, 2, 208) 56%, rgb(145, 2, 208) 69%,rgb(181, 0, 237) 69%, rgb(181, 0, 237) 100%); */
    background-color:#EEA5C5;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}



.topnav .block {
    float: right;
    padding: 15px;
    font-size: 30px;
    margin-right: 20px;
}

.topnav .block:hover {
    background-color: rgb(181, 0, 237);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}


.leftGroup {
    flex: 1;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.rightGroup {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}



.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.green {
    background-color: rgba(255, 255, 255, 0); 
    color: rgb(255, 255, 255); 
    border: 2px solid #4CAF50;
}
  
.green:hover {
    background-color: #4CAF50;
    color: white;
}
  
.blue {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
  
.blue:hover {
    background-color: #008CBA;
    color: white;
}
  
.red {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}
  
.red:hover {
    background-color: #f44336;
    color: white;
}

.black {
    background-color: white;
    color: black;
    border: 2px solid #222222;
}
  
.black:hover {
    background-color: #222222;
    color: white;
}




.flex{
    display:flex;
    transition-duration: 0.4s;
}


.main{
    align-items: center;
    flex-direction: column;
}

.page{
    height: 78.3%;
}

.option{
    font-size: x-large;
    display: flex;
    color:white;
    background-color: #222222;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-duration: 0.4s;
}


.arrow {
    background-color: #d6d6d6; /* Green */
    border: none;
    color: rgb(138, 138, 138);
    padding: 16px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.arrow:hover {
    background-color: #808080; /* Green */
    color: rgb(41, 41, 41);
}


.option {
    background-color: #d6d6d600; /* Green */
    border: none;
    color: rgb(138, 138, 138);
    padding: 16px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.option:hover {
    background-color: #808080; /* Green */
    color: rgb(41, 41, 41);
}

.select {
    background-color: #dfd659; /* Green */
    color: rgb(41, 41, 41);
}
.select:hover {
    background-color: #dfd659; /* Green */
    color: rgb(41, 41, 41);
}

input {
    position: relative;
    background-color: #bacde7; 
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}





#seek{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}


.op{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

h3{
    margin-bottom: 20px;
}

img{
    height: 300px;
}



.myProgress {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    background-color: #D5F5F1;
    display: flex;
}
.myBar {
    width: 0%;
    height: 30px;
    background-color: #1B998B;
    color: white;
    text-align: center;
    font-size: smaller;
    vertical-align: middle;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: #1B998B;

}

#hblack{background-color: #222222;}
#hbrown{background-color: #5f3d10;}
#hblonde{background-color: #f1b85b;}
#horange{background-color: #c25b17;}
#hblue{background-color: #1673a8;}
#hpurple{background-color: #593395;}
#hpink{background-color: #bd1c95;}

#hwavy{background-color: #a81889;}
#hstraight{background-color: #32aa22;}

#hlong{background-color: #4c2679;}
#hmedium{background-color: #2b509e;}
#hshort{background-color: #14a2a7;}

#hopen{background-color: #119558;}
#hside{background-color: #c5c209;}
#hpoint{background-color: #b96a0f;}

#syoung{background-color: #492bad;}
#smiddle{background-color: #800e8f;}
#smature{background-color: #a30c0c;}

#ebrown{background-color: #6e500e;}
#ered{background-color: #8b0f0f;}
#eyellow{background-color: #e4d33b;}
#egreen{background-color: #148019;}
#eblue{background-color: #1e53b4;}
#epurple{background-color: #5e2d9e;}
#epink{background-color: #9c2392;}

#scute{background-color: #ca45d6;}
#sbeauty{background-color: #175c94;}